* {
    box-sizing: border-box;
  }
    
    
  html, body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }
  
    
  body {
    font: var(--dsc-typography-text-standard-400);
    width: 100%;
    height: 100%;
  }
  
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  ul, ol {
    list-style: none;
  }

  h1 {
    color: var(--dsc-color-content-highlight-1);
  }

  main {
    position: relative;
    z-index: 0;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 16px;
    transition: margin-left 0.2s;
      &.menu-open {
        margin-left: 200px;
      }
    }